/*IFRAMES*/
.popup-wrapper {
  height: 360px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10px;
	font-family: "Source Sans Pro", "sans-serif";
	font-weight: 300;
	font-size: 18pt;
	line-height: 1.2em;
	color: #39454b;
	letter-spacing: 0.025em;
}

.popup-content {
  margin: 15px;
}

.links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
ul {
  -webkit-margin-before: 0px;
  -webkit-padding-start: 0px;
}

}


ul.actions {
  cursor: default;
}

  ul.actions li {
    display: inline-block;
    margin: 0 0 0 0.5em;
  }

    ul.actions li:first-child {
      margin-left: 0;
    }

    .icon {
      text-decoration: none;
    }

      .icon:before {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 1.25em;
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      .icon > .label {
        display: none;
      }
